.toggle{
    display: flex;
    justify-content:space-between;
    border: 3px solid var(--purple);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

}
.toggle>*{
    width: 1rem;
    height: 1rem;
    color: purple;
}
.t-button{
    border-radius: 100%;
    background: var(--purple );
    position: absolute;
}
.t-button:hover{
    background: linear-gradient(180deg, #e600e6 26.71%, #9f00be 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(184, 0, 144, 0.42);
   
}
